<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <img id='gameover' src='/images/gameover.png'></img>
    <img id='logo' src='/images/logo.png'></img>
    <p id='waiting'>Waiting for other players...</p>
    <canvas id='canvas'></canvas>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/missile.js"></script>
    <script type="text/javascript" src="js/ship.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
  </body>
</html>
