<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
  <img id='gameover' src='/images/gameover.png'></img>
  <img id='logo' src='/images/logo2.png'></img>
  <canvas id='canvas'></canvas>
  <!-- // <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script> -->
  <script src='socket.io/socket.io.js'></script>
  <script type="text/javascript" src="js/missile.js"></script>
  <script type="text/javascript" src="js/ship.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
</body>
</html>
