html{
	height: 100%;
}
body {
	background-color: black;
	background-image: url(/images/star.jpg);
	color: white;
	min-height: 100%;
	text-align: center;
}

#logo {
	margin-top: 150px;
}

#gameover{
	display: none;
	margin-top: 150px;
}

#waiting {
	display: none;
	font-family: "Helvetica Neue", Arial;
	font-weight: 200;
	color: #fff;
}